:root {
  --deep-purple: rgb(60, 55, 126);
}

* {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", "Tahoma",
    "Geneva", Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html {
  background: linear-gradient(lightgrey, grey);
}


body {
  margin:auto;
  width: min(1200px, 100%);
}

.header {
  background-color: var(--deep-purple);
  
  width: 100%;
  display: inline-grid;
  grid-template-columns: auto auto auto;

  vertical-align: middle;
  position: sticky;
  top: 0;
  z-index: 999;
}

.name {
  margin: 20px;
  margin-right: 0px;
  padding-bottom: 2px;
  width: auto;
  height: auto;
  font-size: 50px;
  font-family: Verdana, sans-serif;
}

.name span {
  font-size: 20px;
  color: rgb(167, 167, 167);
}

.social-icon-container {
  margin: auto;
}

.social-icon {
  width: 50px;
  height: 50px;
}

.button-bar {
  justify-self: right;
  flex-direction: row;
}

.button-bar ul {
  list-style-type: none;
}

.button-space {
  float: left;
  margin-right: 20px;
  margin-top: 4px;
  margin-bottom: 8px;
}

.button {
  padding-left: 20px;
  padding-right: 20px;
  border-color: beige;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  background-color: #31325a;
  font-weight: bold;
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

a img, a .button {
  transition: transform 0.3s, box-shadow 0.3s;
}

a h3 {
  transition: transform 0.3s, text-shadow 0.3s;
}

a:hover img, a:hover div.button {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

a:hover h3 {
  transform: scale(0.95);
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.profile {
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: left;
  margin-top: 25px;
}

.profile-pic {
  height: 13em;
  width: 13em;

  border-radius: 100%;
  border-color: rgb(87, 87, 87);
  border-width: 4px;
  border-style: solid;

  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.info-container {
  margin-left: 20px;
  margin-right: 20px;
  width: 860px;
}

.info {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
  
  text-align: left;
  font-size: 18px;

  border-radius: 10px;
  border-style: solid;
  background-color: rgb(0, 0, 0, 0.5);
}

.divider {
  text-align: center;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.divider-img {
  width: 70%;
  max-width: 800px;
  text-align: center;
  margin: auto;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background-color: lightgray;
  text-align: center;
  width: 48%;
  padding: 5px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
  border-radius: 25px;
}

.description {
  color: black;
}

.screenshot {
  width: 98%;
  border-color: rgba(33, 33, 33, 1);
  border-width: 4px;
  border-style: solid;
}

.card h3 {
  font-size: 35px;
  margin: 0;
  width: auto;
  color: black;
}

.technologies {
  color: grey;
}

@media only screen and (max-width: 735px) {
  .header {
    text-align: center;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    position: relative;
  }

  .name {
    margin: 20px;
    padding-bottom: 2px;
    width: auto;
    height: auto;
    font-size: 50px;
    font-family: Verdana, sans-serif;
  }

  .name span {
    font-size: 20px;
    color: #a7a7a7;
  }

  .button-bar {
    margin-right: 20px;
    padding-top: 7px;
  }

  .button-bar ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
  }

  .button-space {
    margin-right: 20px;
  }

  .button {
    padding-left: 20px;
    padding-right: 20px;
    border-color: beige;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    background-color: #31325a;
    font-weight: bold;
  }

  .profile {
    flex-direction: column;
    text-align: center;
  }

  .profile-pic {
    height: 30vw;
    width: 30vw;
    
    transform: translateY(0%);
  }

  .info-container {
    margin-left: 0;
    min-width: auto;
    width: 100%;
  }

  .info {
    position: relative;
    width: 90%;
    font-size: 4.5vw;
    text-align: center;
  }

  .card {
    background-color: lightgray;
    text-align: center;
    width: 95%;
    padding: 5px;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 25px;
  }
}
